# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Environment variables (NUNCA sobe isso)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Build outputs
android/
ios/